# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual env
.venv/

# Data cache
data/raw/
data/processed/

# Checkpoints
checkpoints/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# notebook-local cache
notebooks/data/
